{include file="public/header"/}
  <body>
    <div class="x-body">
        <form class="layui-form" id="form_data">
          <div class="layui-form-item">
              <label for="category" class="layui-form-label">
                  <span class="x-red">*</span>分类
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="category_name" name="category_name" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button type="button" class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
    {include file='public/base_js' /}
    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form;
            //监听提交
            form.on('submit(add)', function () {
                push("", "{:url('category/saveCategory')}", $('#form_data').serialize());
            });
        });
    </script>
{include file="public/footer"/}